<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{BootstrapCSS}}">
    <script type="text/javascript" src="{{jQ}}"></script>
    <script type="text/javascript" src="{{BootstrapJS}}"></script>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <a href="/" style="text-decoration:none">
            <h1>{{title}}</h1>
        </a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/upload_fisier">Upload fisier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tabel_fisiere">Tabel fisiere</a>
                </li>
            </ul>
        </div>
    </div>
</div>


</body>
</html>